<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mongo="http://www.springframework.org/schema/data/mongo"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
							http://www.springframework.org/schema/data/mongo
							http://www.springframework.org/schema/data/mongo/spring-mongo-1.1.xsd"
		default-autowire="byName">


	<!-- Default bean name is 'mongo' -->
	<mongo:mongo host="localhost" port="27017" />
 
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg index="0" ref="mongo" />
		<constructor-arg index="1" value="pry" />
	</bean>
	
	<bean name="pryService" class="com.sangupta.pry.service.DefaultPryServiceImpl" />
	
	<bean name="siteService" class="com.sangupta.pry.site.MongoDBSiteServiceImpl" />
	
	<bean name="chartService" class="com.sangupta.pry.chart.HtmlChartServiceImpl" />
	
	<bean name="siteDataService" class="com.sangupta.pry.sitedata.MongoDBSiteDataServiceImpl" />
	
	<bean name="siteDownloadService" class="com.sangupta.pry.download.HttpSiteDownloadService" />
	
	<bean name="downloadedSiteService" class="com.sangupta.pry.sitedata.MongoDBSiteDataServiceImpl" />
	
	<bean name="analyzerService" class="com.sangupta.pry.analysis.MultiAnalyzerServiceImpl" >
		<property name="analyzers">
			<list>
				<bean class="com.sangupta.pry.analyzers.ResponseSizeAnalyzer" />
			</list>
		</property>
	</bean>

</beans>
